#footer{

  

        
        margin-top: 55px;
        display: grid;
        grid-template-columns: 1fr ;
        grid-template-areas: "div" "aside" "article";
        color: white;
        background-color: #001951;

  

    @include md{
        grid-template-columns: auto auto auto;
    }

    

    
}