#hero {

    display: grid;


    nav {
        padding: 24px;
        display: flex;
        color: #001951;
        align-items: center;
        justify-content: space-between;

        h1 {
            border: none;
            width: 100%;
            border-bottom: 1px solid #A8DADC;
        }

        button {
            background-color: #E2BA06;
            border-radius: 3.5px;
            border: none;
            width: 42px;
            height: 34px;
            align-items: center;

            img {
                width: 40px;
                align-items: center;
            }
        }
    }

    img {
        display: grid;
        grid-template-columns: 100%;
    }




    .heroCTA-2col {
        display: grid;
        grid-template-columns: 1fr;
        color: white;


        aside {

            display: flex;
            background-color: #001951;
            align-items: center;
            padding-left: 18px;

            h4 {
                border: none;
                width: 100%;
            }

            p {
                border: none;
                width: 100%;


            }

            a {
                border: none;
                width: 100%;
                align-self: center;
                color: white;
            }

            img {
                border: none;
                width: 40px;
                height: 40px;
            }
        }

        article {


            display: flex;
            background-color: #254789;
            align-items: center;
            padding-left: 18px;

            p {
                border: none;
                width: 100%;
            }

            a {
                border: none;
                width: 100%;
                padding: 80px;
                color: white;
            }

            img {
                border: none;
                width: 40px;
                height: 40px;
            }
        }

        @include md {
            grid-template-columns: 30% 70%;
        }

        @include lg {
            grid-template-columns: 50% 50%;

        }

        @include xl {
            grid-template-columns: 50% 50%;
        }
    }


}