#hero{

    display: grid;

.heroCTA-2col{
    display: grid;
    grid-template-columns: 1fr;


   aside{

        display: grid;
        grid-template-columns: 1fr ;
        background-color: #001951;
    }

}


}