#photogallery{

    display: grid;

.gallery-grid{

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "aside" "article";

    aside{
        display:flex;
        align-self: center;
        justify-content: space-between;

    }

    
    }

    @include sm{
        grid-template-columns: 1fr;
       
        .pic3{
            img{
                display:none;
            }
        }
    
    }

    @include md{
        grid-template-columns: 50% 50%;
        
    }    
    @include lg{
        grid-template-columns: 60% 40%;
  }

    @include xl{
         grid-template-columns: 70% 30%;
         
        }
         
     }




