#photogallery{

    list-style: none;
    padding: 0;
    margin:0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "slinky"
    "princess"
    "group";

        li.slinky{
            grid-area: slinky;
            height: 360px;
            background-image: url(../img/slinkyDog.webp);
            background-size: cover;
            background-position: center center;
        }

        li.princess{
            grid-area: princess;
            height: 480px;
            background-image: url(../img/princess.webp);
            background-size: cover;
            background-position: center center;
        }

       li.group{
            grid-area: group;
            height: 400px;
            background-image: url(../img/pic3.jpeg);
            background-size: cover;
            background-position: center center;
            display: none;
             
        }

        @include md{
            grid-template-columns: 1fr 1fr;
            grid-template-areas: 
            "slinky princess";

            li.slinky, li.princess{
                height: 600px;
            }

        }

        @include lg{
            grid-template-columns: 60% 40%;
            grid-template-areas: 
            "slinky princess";


            li.slinky, li.princess{
                height: 600px;
            }

            
        }
        

        @include xl{
            grid-template-columns: 1fr 1fr;
            grid-template-areas: 
            "slinky princess"
            "slinky group";

            li.slinky{
                height: auto;
            }

            li.group{
                display: inline;
            }

            li.princess,li.group{
                height: 400px;
            }

    }    

}




    



