#planVisit{

        display: grid;
        grid-template-columns: 1fr;
        margin: 0px 16px;

        ul{
            margin: 0;
            padding: 0;
            display: grid; 
            grid-gap: 8px;

            li{
                background-color: #DBE6EE;
                width: 100%;
                grid-template-columns: 1fr;
                align-content: center;
                


                button{
                    background-color: #E2BA06;
                    border-radius: 1px;
                    border: none;
                    color: white;
                    width: 97px;
                    height: 27px;
                }
            }

    }

    @include md{

        margin: 0 40px;
        ul{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 8px
        }
    }

    @include lg{
        margin: 0 40px;
        ul{
            grid-template-columns: 1fr 1fr 1fr;

        }

    }

}



  