#planVisit{

        display: grid;
        grid-template-columns: 1fr;
        color:  #001951;

        ul{
           
            display: flex; 
            flex-direction: column;

          

            li{
                background-color: #DBE6EE;
                width: 100%;

                    .textdetail{
                        padding:15px;
                        h3{
                            margin: 0;
                        }
                    }
                    button{
                        background-color: #E2BA06;
                        border-radius: 1px;
                        border: none;
                        color: white;
                        width: 97px;
                        height: 27px;
                    }

            }

            

            @include md{
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-between;
                gap: 1%;
                
                .card{
                    width: 48%;
                    
                }

                li:last-child{
                    margin: 0 auto;
                }
            }

            @include lg{
                justify-content: center;
                .card{
                    width: 32%;
                }

                li:last-child{
                    margin: 0;
                }

            }

    }

}



  